<%# feature carousel %>
<% carousel_products = Product.sample_products_for_homepage() %>
<% first_product = carousel_products.first %>

<div id="homepage_hero_carousel" class="carousel slide" data-ride="carousel">
  <%# carousel page indicators at bottom of carousel %>
  <ol class="carousel-indicators">
    <% num_slides = carousel_products.length %>
    <% num_slides.times do |index| %>
        <li data-target="#homepage_hero_carousel" data-slide-to=<%= index %> class=<%= (index == 0) ? "active" : "" %>></li>
    <% end %>
  </ol>

  <%# carousel items %>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src=<%= first_product.photo_url %> alt=<%= first_product.name %>>
      <%= render partial: 'carousel_caption', locals: {product: first_product} %>
    </div>
    <% carousel_products[1..-1].each do |product| %>
      <div class="carousel-item">
        <img class="d-block" src=<%= product.photo_url %> alt=<%= product.name %>>
        <%# carousel image captions %>
        <%= render partial: 'carousel_caption', locals: {product: product} %>
      </div>
    <% end %>
  </div>

  <%# carousel previous-next page controls %>
  <a class="carousel-control-prev" href="#homepage_hero_carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#homepage_hero_carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<%# product tiles %>
<%# 'shop for x category' with a row of tiles %>
<div class="homepage__shop">
  <% categories = Category.all %>

  <% categories.each do |category| %>
    <div class="homepage_category_wrapper">
      <h3 class="homepage_category_title">
        Shop for <%= category.name %>
      </h3>

      <div class="homepage_product_card_wrapper">
        <% category.products.each do |product| %>
          <div class="card">
            <img src=<%= product.photo_url %> alt=<%= product.name %> class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <a href=<%= product_path(product.id) %> class="btn btn-primary"><i class="fas fa-leaf"></i> See Plant</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
