<main>
  <section class="dashboard">
    <section class="dashboard__header">
      <h2 class="dashboard__header_title">
        <%= @user.username %>
      </h2>
      <ul>
        <li><%= @user.email %></li>
      </ul>
    </section>

    <hr class="dashboard__line_break"/>

    <div class="dashboard_options">
      <span class="dashboard_options__account">
        <span class="dashboard_options__account_option">
          <%# change path to edit_user_path %>
          <%= link_to "edit my profile", user_path(@user.id) %>
        </span>
        <span class="dashboard_options__account_option">
          <%= link_to "see my shop", user_path(@user.id) %>
        </span>
      </span>
      <span class="dashboard__add_dropdown_container">
        <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          add <i class="fas fa-angle-left"></i><i class="fas fa-angle-down"></i>
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <%# come back to this and add new_category_path %>
          <%= link_to "Add Category", root_path, class: "dropdown-item" %>
          <%= link_to "Add Product", new_product_path, class: "dropdown-item" %>
        </div>
      </span>
    </div>

    <div class="dashboard__sections_container">
      <nav class="dashboard__sections_nav breadcrumb">
        <a href="#products" class="breadcrumb-item">
          <span>my products</span>
          <span class="badge badge-primary badge-pill"><%= @user.products.count %></span>
        </a>
        <a href="#orders" class="breadcrumb-item">
          <span>my orders</span>
          <span class="badge badge-primary badge-pill">#</span>
        </a>
      </nav>

      <section>
        <div class="dashboard__section">
          <a id="products"><h3>Products</h3></a>
          <hr class="dashboard_section__break"/>
        </div>

        <div class="product_spotlight_container">
          <section class="product_spotlight">
            <h4>Top Selling Product</h4>

            <%# top_product = @user.top_product %>
            <div class="product_spotlight__top_product">
              <h5>Name<%# top_product.name %></h5>
              <ul class="product_spotlight__product_details">
                <li>#<%# top_product.num_sold %> sold</li>
                <li>#<%# top_product.stock %> in stock</li>
              </ul>
            </div>
          </section>
        </div>

        <% @user.products.each do |product| %>
          <div class="dashboard__user_product">

            <div class="dashboard__user_product__basic_info">
              <span><%= product.name %></span>
              <span><%= product.stock %> in stock</span>

              <span><i class="fas fa-toggle-off"></i></span>
              <span><i class="fas fa-toggle-on"></i></span>
            </div>

            <div class="dashboard__user_product__more_info">
              <div>
                <%= link_to "edit product", edit_product_path(product.id) %>
              </div>

              <section>
                <h4>Description</h4>
                <div>
                  <%= product.description %>
                </div>
              </section>

              <section>
                <h4>Price</h4>
                <div>
                  $<%= product.price %>
                </div>
              </section>

              <section>
                <h4>Categories</h4>
                <% product.categories.each do |category| %>
                  <div><%= category.name %></div>
                <% end %>
              </section>

              <% if product.available %>
                <div>
                  Currently Available
                </div>
              <% else %>
                <div>
                  Retired
                </div>
              <% end %>
            </div>

          </div>
        <% end %>
      </section>

      <section>
        <div class="dashboard__section">
          <a id="orders"><h3>Orders</h3></a>
          <hr class="dashboard_section__break"/>
        </div>
      </section>
    </div>
  </section>
</main>
