<main>
  <section class="dashboard">
    <section class="dashboard__header">
      <h2 class="dashboard__header_title">
        <%= @user.username %>
      </h2>
      <ul>
        <li><%= @user.email %></li>
      </ul>
    </section>

    <hr class="dashboard__line_break"/>

    <div class="dashboard_options">
      <span class="dashboard_options__account">
        <span class="dashboard_options__account_option">
          <%= link_to "edit my profile", edit_user_path(@user.id) %>
        </span>
        <span class="dashboard_options__account_option">
          <%= link_to "see my shop", user_path(@user.id) %>
        </span>
      </span>
      <span class="dashboard__add_dropdown_container">
        <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          add <i class="fas fa-angle-left"></i><i class="fas fa-angle-down"></i>
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <%# come back to this and add new_category_path %>
          <%= link_to "Add Category", root_path, class: "dropdown-item" %>
          <%= link_to "Add Product", new_product_path, class: "dropdown-item" %>
        </div>
      </span>
    </div>

    <div class="dashboard__sections_container">
      <nav class="dashboard__sections_nav breadcrumb">
        <a href="#products" class="breadcrumb-item">
          <span>my products</span>
          <span class="badge badge-primary badge-pill"><%= @user.products.count %></span>
        </a>
        <a href="#orders" class="breadcrumb-item">
          <span>my orders</span>
          <span class="badge badge-primary badge-pill"><%= @user.order_count %></span>
        </a>
      </nav>

      <section>
        <div class="dashboard__section">
          <a id="products"><h3>Products</h3></a>
          <hr class="dashboard__line_break dashboard_section__break"/>
        </div>

        <% top_product = @user.top_product %>
        <% if top_product %>
          <div class="product_spotlight_container">
            <section class="product_spotlight">
              <h4>Top Selling Product</h4>

              <div class="product_spotlight__top_product">
                <h5><%= top_product.name %></h5>
                <ul class="product_spotlight__product_details">
                  <li>#<%# top_product.total_sold %> sold</li>
                  <li><%= top_product.stock %> in stock</li>
                </ul>
              </div>
            </section>
          </div>
        <% end %>

        <div class="dashboard__products_container">

          <%# toggle %>
          <% toggle_num = 0 %>

          <% @user.products.each do |product| %>
            <hr class="dashboard__line_break dashboard__product__break"/>

            <%# toggle %>
            <% toggle = "toggle_" + toggle_num.to_s %>

            <div class="dashboard__user_product">

              <div class="dashboard__user_product__basic_info">
                <span class="basic_info__header_item">
                  <%= link_to product.name, product_path(product.id) %>
                </span>
                <span class="basic_info__header_item header_item__subtitle"><%= product.stock %> in stock</span>
              </div>

              <input type="checkbox" id=<%= toggle %> class="toggle__product">
              <label for=<%= toggle %> class="toggle__show_more">
                <p>more info</p>
                <span class="toggle_to_on"><i class="fas fa-toggle-off"></i></span>
                <span class="toggle_to_off"><i class="fas fa-toggle-on"></i></span>
              </label>

              <div class="more_info__container">
                <div class="product_image_container">
                  <img src=<%= product.photo_url %> alt=<%= product.name %> class="merchant_product_image">
                  <div class="product_link_middle">
                    <%= link_to "See more", product_path(product.id), class: "product_link_text" %>
                  </div>
                </div>
                <div class="dashboard__user_product__more_info">

                  <div class="more_info__description_container">
                    <div>
                      <%= product.description %>
                    </div>
                    <div>
                      <%= link_to "edit product", edit_product_path(product.id), class: "btn btn-light edit_product_button" %>
                    </div>
                  </div>

                  <div class="dashboard__user_product__details_container">
                    <div class="dashboard__user_product__details">
                      <section class="more_info__price_container">
                        <h4 class="more_info__header">Price</h4>
                        <div>
                          $<%= product.price %>
                        </div>
                      </section>

                      <% if product.available %>
                        <div class="availability btn btn-primary currently_available">
                          Currently Available
                        </div>
                        <div class="availability btn btn-danger mark_retired">
                          Retire Product?
                        </div>
                      <% else %>
                        <div class="availability btn btn-warning unavailable">
                          Retired
                        </div>
                        <div class="availability btn btn-danger mark_available">
                          Mark Available?
                        </div>
                      <% end %>
                    </div> 

                    <section class="dashboard__user_product__categories">
                      <h4 class="more_info__header">Categories</h4>
                      <% product.categories.each do |category| %>
                        <div class="product_category"><%= category.name %></div>
                      <% end %>
                    </section>
                  </div>
                </div>
              </div>

            </div>

            <%# toggle %>
            <% toggle_num += 1 %>
          <% end %>
        </div>
        <hr class="dashboard__line_break dashboard__product__break"/>
      </section>



      <section>
        <div class="dashboard__section">
          <a id="orders"><h3>Orders</h3></a>
          <hr class="dashboard__line_break dashboard_section__break"/>
        </div>

        <nav class="dashboard__products_by_status breadcrumb">
          <a href="#all_products" class="breadcrumb-item">
            <span class="breadcrumb-item">all products</span>
            <span class="badge badge-primary badge-pill">#</span>
          </a>
          <% statuses = ["pending", "paid", "cancelled", "complete"] %>
          <% statuses.each do |status| %>
            <a href="#<%= status %>" class="breadcrumb-item">
              <span><%= status %></span>
              <span class="badge badge-primary badge-pill">#</span>
            </a>
          <% end %>
        </nav>


        <% order_toggle_num = 0 %>
        <%# statuses << "all" %>
        <div>
          <% statuses.each do |status| %>
            <% order_toggle = "order_toggle_" + order_toggle_num.to_s %>

            <div class="orders_list__container">

              <% if status == "all"%>
                <input id=<%= order_toggle %> class="orders_list__container--toggle" type="radio" name="orders_list" checked>
              <% else %>
                <input id=<%= order_toggle %> class="orders_list__container--toggle" type="radio" name="orders_list">
              <% end %>

              <label for=<%= order_toggle %> class="orders_list__container--toggle--text"><%= status %></label>
              <div class="orders_list__container--body">
                <%= render partial: "orders", locals: {given_status: status.to_sym} %>
              </div>
            </div>

            <% order_toggle_num += 1 %>
          <% end %>
        </div>
        

      </section>
    </div>
  </section>
</main>
