<section class="dashboard">
  <h2>
    Dashboard
  </h2>

  <div class="dashboard__user_data">
    <section class="dashboard__account_details">
      <h3>
        <%= @user.username %>
      </h3>

      <div>
        email: <%= @user.email %>
      </div>

      <ul>
        <li>
          <%= @user.products.count %> products
        </li>
        <li>
          <%# @user.order_count %> orders
        </li>
      </ul>

      <%= link_to "See my shop", user_path(@user.id) %>
    </section>

    <section class="dashboard__account_stats">
      <h3>
        Top Selling Product
      </h3>

      <%# top_product = @user.top_product %>
      <div class="top_product">
        <p>TempName<%# top_product.name %></p>
        <div class="top_product__details">
          <img src=<%# top_product.photo_url %>>
          <ul>
            <li><%# top_product.num_sold %> sold</li>
            <li><%# top_product.stock %> in stock</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <%# see list of existing products %>
  <section>
    <h3>
      My Products
    </h3>

    <table class="table">
      <caption>List of my products</caption>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>See in Store</th>
          <th>Description</th>
          <th>Price</th>
          <th>Current Stock</th>
          <th>Edit</th>
          <th><a href="#retire_meaning">Retire Product</a></th>
        </tr>
      </thead>

      <tbody>
        <% @user.products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name %>
            </td>
            <%# add nested user_product_path %>
            <%# add classes %>
          </tr>
          <tr>
            <td>
              <%= link_to product.name, product_path(product.id), class: "btn" %>
            </td>
          </tr>
          <tr>
            <td class="text-truncate"><%= product.description %></td>
          </tr>
          <tr>
            <td><%= product.price %></td>
          </tr>
          <tr>
            <td><%= product.stock %></td>
          </tr>
          <tr>
            <td>
              <%= link_to "Edit" %>
              <%# add nested user_product_edit_path %>
              <%# add classes %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "Retire" %>
              <%# add retire_product_path %>
              <%# add classes %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <small class="caption__more_info">
      <a id="retire_meaning"></a>
      <p>
        Retiring a product marks it unavailable. 
        A retired product will not be visible to customers, but will still be visible in this list. 
        You can unretire a product at any time.
      </p>
    </small>
  </section>

  <%# see list of orders %>  
  <section class="user_orders">
    <h3>
      My Orders
    </h3>

    <div class="user_orders_by_status">
      <% status_opts = ["pending", "paid", "cancelled", "complete"] %>
      <% status_opts.each do |status| %>
        <% products = @user.products.where(status: status) %>

        <section>
          <h4>
            <%= status.capitalize %>
          </h4>

          <p>
            total revenue: <%# total revenue by status %>
          </p>
          <p>
            total orders: <%# total number of orders by status %>
          </p>

          <%# find all orders %>
          <div>
          </div>
        </section>
      <% end %>
    </div>

    <section>
      <h4>
        All Orders
      </h4>

      <%# for each order %>
    </section>
  </section>

</section>