<section>
  <h2>
    Products by <%= @user.username %>
  </h2>

  <div class="list_tiles">
    <% @user.products.each do |product| %>
      <div class="merchant_product_tile">
        <img src=<%= product.photo_url%> alt=<%= product.name %>>
        <h3 class="merchant_product_tile__title">
          <%= link_to product.name, product_path(product.id) %>
        </h3>
        <div>
          <p>$<%= product.price %></p>
          <p><%= product.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
