
<h1>Order Summary</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>
<% order = Order.find_by(id: session[:order_id]) %>
Order # <%= order.id %>
<tbody>
<tr>
<% order.order_items.each do |oi| %>
  <td><%= oi.product.name %></td> 
  <td><%= oi.quantity %></td>
  <td>$<%= render_price(oi.product.price) %></td>
  <td>$<%= render_price(oi.subtotal) %></td>
  <td><%= link_to "Remove", order_item_path(oi.id), method: :delete %></td>
    </tr>
<% end %>
  <tr></tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td>TOTAL: $<%= render_price(order.total) %></td>
  </tr>
  </tbody>
</table>
<br>
<%= link_to "CHECKOUT", edit_order_path, method: :get, class: "btn btn-primary" %>

