<main>
<section class="show_page">
  <h2 class="show_page__header">
    Products by Category
  </h2>
</section>
    
<% @categories.each do |category| %>
<div class="category_title">
  <h3><%= category.name.capitalize %></h3>  
</div>
  
<section class="index_page_category-container">  
<% category.products.each do |product| %>   
  <% if product.available %>
  <section class="category_data_index">
    <div>
      <img src= <%= product.photo_url %> alt=<%= product.name %> class="product_image_category">
    </div>
    
    <div class="category_text">
      <h4><%= link_to product.name, product_path(product.id) %></h4>
      <%= product.description.capitalize %>
    </div>
  </section>
<% end %>
<% end %>
</section>

<% end %>
</main>
