<body>
  <main>
    <h2>All Products</h2>

  <section class= "product-list">
    <% @products.each do |product| %>
    <h4><%= product.name.capitalize %></h4>
      <ul>
        <li>Description: <%= product.description.capitalize %></li>
        <li>Price: $<%= product.price %></li>
        <li>Stock: <%= product.stock %> units</li>
        <li>Available: <%= product.available %></li>
        <li>User_id: <%= product.user_id %></li>
        <li>photo_url</li>
      </ul>
    <%end%>
  </section>
  </main>
</body>
