<main>
<section class="show_page">
  <h2 class="page_header">
    All Products
  </h2>

<section class="product-container">
  <div class="show_page__tiles">
  <% @products.each do |product| %>
    <%= link_to product.name, product_path(product.id), class: "show_page_product" %>
    Description: <%= product.description %>
    Price: $<%= product.price %>

    <img src= <%= product.photo_url %> alt=<%= product.name %> class="product_image">
  <% end %>
  </div>
</section>

</section>
</main>
