<main>
<section class="show_page">
  <h2 class="show_page__header">
    All Products
  </h2>
</section>

<section class="index_page_product-container">
<% @products.each do |product| %>

<% if product.available %>
  <section class="product_data_index">  
    <a href=<%= product_path(product.id) %>>
      <img src= <%= product.photo_url %> alt=<%= product.name %> class="product_image">
    </a>
    
    <div class="product_text">
      <h4><%= link_to product.name, product_path(product.id) %></h4>
      <%# Description: <%= product.description %>
      Price: $<%= product.price %>
    </div>  
  </section>
  <% end %>
<% end %>
</section>
</main>
