<main>
<section class="show_page">
  <h2 class="show_page__header">
    All Products
  </h2>
</section>

<section class="index_page_product-container">
<% @products.each do |product| %>

<% if product.available %>
  <section class="product_data_index">  

    <a href=<%= product_path(product.id) %> class="product_img_container">
      <img src=<%= product.photo_url %> alt=<%= product.name %> class="image product_image">
      <div class="link">
        <div class="link_text">See More</div>
      </div>
    </a>
    
    <div class="product_text">
      <h4><%= link_to product.name, product_path(product.id) %></h4>
      Price: $<%= product.price %>
    </div>  
  </section>
  <% end %>
<% end %>
</section>
</main>
