<main>
<section class="show_page">
  <h2 class="show_page__header">
    All Products
  </h2>
</section>

  <section class="index_page_product-container">
  <% @products.each do |product| %>
  
  <section class="product_data_index">
    <div>
      <img src= <%= product.photo_url %> alt=<%= product.name %> class="product_image">
    </div>
    
    <div class="product_text">
      <h4><%= link_to product.name, product_path(product.id) %></h4>
      <%# Description: <%= product.description %>
      Price: $<%= product.price %>
    </div>  
  </section>
  <% end %>

  </section>
</section>
</main>
