<main>
<section class="show_page_product">
  
  <div class="product_image">
    <img src= <%= @product.photo_url %> alt=<%= @product.name %> height="200" width="200">
  </div>
  
  <div class="product_data">
    <p><strong>Name: <%= @product.name %></strong></p>
    <p>Description: <%= @product.description.capitalize %></p>
    <p>Price: $<%= @product.price %></p>
  </br>
    <p><strong>Free shipping</strong></p>
    <p>Free shipping in all orders above $20</p>     
  </div>

  <div class="quantity-input">
    Quantity: <input required="required" min="1" max="8" type="number" name="item[quantity]" id="item_quantity">
	</div>

  <div class="submit-button">
    <a class="btn btn-primary" <%= link_to "ADD TO CART", product_path, method: :post %>
  </div>
</section>
</main>
