<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a84a561c8e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="app_header">
      <!-- <img src='https://lh3.googleusercontent.com/ozqDFFoNBgyNr_FNVVZFP9zH2K6iKsBcw1waZgVdAwGg3PelWXoNv1qChiviBAVuvIBgn9E17M7535YsqqTbJkHH3Axf3oN3K4x_6m4xNIc4oneHRAossp6YLrkF3WkRkVNgZzUojg=w2400' /> -->
      <h1 class="app_header__title">
        Plantsy
      </h1>
      <nav class="top_nav">
        <div class="btn-group page_nav">
          <%= link_to "Products", root_path, class: "btn btn-primary" %>
          <%= link_to "Categories", root_path, class: "btn btn-primary" %>
          <%= link_to "Merchants", root_path, class: "btn btn-primary" %>
        </div>
        <div class="user_nav">
          <a href=<%= root_path %> class="btn btn-light"><i class="fab fa-github"></i>  Login with Github</a>
          <a href=<%= root_path %> class="btn btn-light shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="footer__site_buttons">
        <%= link_to "About Us", root_path, class: "btn btn-secondary" %>
        <%= link_to "Register as Merchant", root_path, class: "btn btn-secondary" %>
      </div>
      <div class="footer__offsite_buttons">
        <i class="fab fa-instagram btn btn-secondary"></i>
        <i class="fab fa-facebook btn btn-secondary"></i>
        <i class="fab fa-pinterest btn btn-secondary"></i>
        <i class="fab fa-twitter-square btn btn-secondary"></i>
      </div>
      <div class="footer__site_copywrite">
        © Ada Orchids 2019
      </div>
    </footer>
  </body>
</html>
